<div class="alert alert-danger hide" role="alert" id="passwordChangeError"></div>
<div class="alert alert-success hide" role="alert" id="passwordChangeSuccess"></div>
<form id="passwordChangeForm">
    <fieldset class="form-group">
        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control" id="oldPassword" />
    </fieldset>
    <fieldset class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" id="newPassword" />
    </fieldset>
    <fieldset class="form-group">
        <label for="newPasswordConfirmation">New passsword confirmation</label>
        <input type="password" class="form-control" id="newPasswordConfirmation" />
    </fieldset>
    <button class="btn btn-primary" type="button" id="changePass" onclick="changePassword();">Change</button>
</form>